<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">

    <resultMap id="MemberResultMap" type="MemberDTO">
        <id property="member_no" column="member_no"/>
        <result property="member_id" column="member_id"/>
        <result property="member_pw" column="member_pw"/>
        <result property="member_name" column="member_name"/>
        <result property="member_email" column="member_email"/>
        <result property="member_regdate" column="member_regdate"/>
    </resultMap>

    <!--회원가입-->
    <insert id="memberReg">
        INSERT INTO tb_member_info (
            member_id,
            member_pw,
            member_name,
            member_email
        )
        VALUES (
                   #{member_id},
                   #{member_pw},
                   #{member_name},
                   #{member_email}
               )
    </insert>

    <!--    <select id="getBno" resultType="java.lang.Integer">
            SELECT MAX(bno) FROM tb_member_info
        </select>-->

    <!--로그인-->
    <select id="memberLogin">
        SELECT
            member_id,
            member_pw

        FROM tb_member_info
        WHERE member_id = #{member_id}
          AND member_pw = #{member_pw}
    </select>



    <!--아이디 중복 체크-->
    <!--    <select id="checkId"
                resultType="int"
        >
            SELECT
                count(*)
            FROM tb_member_info
            WHERE member_id = #{member_id}
        </select>

    -->
    <!--아이디 찾기-->
    <!--    <select id="idSearch" resultType="MemberDTO">
            SELECT
                member_id
            FROM tb_member_info
            WHERE member_name = #{param1}
                AND member_email = #{param2}
        </select>
    -->
    <!--비밀번호 찾기-->
    <!--    <select id="pWSearch" resultType="MemberDTO">
            SELECT
                member_pw
            FROM tb_member_info
            WHERE member_id = #{param1}
                AND member_email = #{param2}
        </select>

    -->




    <!-- <update id="update">
         update tb_member_info
         set
             member_id = #{member_id},
             member_name = #{member_name},
             member_pw = #{member_pw}
         where
             member_no = #{member_no}
     </update>

     <select id="listAll" resultType="BoardDTO">
         select
             member_no,
             member_id,
             member_pw,
             member_name,
             member_email,
             member_regdate
         from tb_member_info
         order by
                  member_no desc
     </select>


     <delete id="delete">
         delete
         from
             tb_member_info
         where
             member_no = #{member_no}
     </delete>

     <update id="updatemember_regdate">

         update tb_member_info set member_regdate = member_regdate+1 where member_no = #{member_no}

     </update>


     <select id="countingArticle" resultType="java.lang.Integer">
         SELECT
                COUNT(*)
         FROM
              `tb_member_info`;

     </select>


 -->



</mapper>